* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: lightgray;
    text-align: center;
}

#prova {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    margin: 50px;
}


img {
    border: 1px solid purple;
    padding: 10px;
}